version: '3.8'
services:
  mysql_db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: Hospital
      MYSQL_ROOT_PASSWORD: 12345
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: